/* .post-detail{
    padding: 5px;
    display: flex;
    /*fl    ex-wrap: wrap; 
    flex-direction: row;
    height: 200px;

}
.text{
    flex: 80%;
}
.post-title{
    padding-bottom: 10px;
}
.img{
    height: 150px;
    flex: 20%;
    background-image: linear-gradient(to right, #FFABE1, #937DC2);
}


@media (max-width: 1100px){
    .text{
        flex: 70%;
    }
    .img{
        flex: 30%;
    }
}
.postlink{
    display: contents;
    text-decoration: none;
    color: inherit;
} */